<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="main_chat">
  <div class="main_chat-header">
    <a href="#" class="main_chat-chatname">hogefuga</a>
    <a href="#" class="main_chat-chatend">チャットを終了する</a>
  </div>
  <div class="main_chat-content">
    <div class="main_chat-name_date">
      <p class="main_chat-name">Tom</p>
      <p class="main_chat-date">2020/3/31(Wed) 12:43:30</p>
    </div>
    <p class="main_chat-writing">おはよう</p>
    <div class="main_chat-name_date">
      <p class="main_chat-name">Tom</p>
      <p class="main_chat-date">2020/3/31(Wed) 12:43:30</p>
    </div>
    <p class="main_chat-writing">おはよう</p>
  </div>
  <div class="main_chat-footer">
    <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>  
    </div>
    <input class="form-submit" type="submit" value="送信">  
  </div>
  </div>
</div>
</html>