<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="side_bar">
    <div class="side_header">
      <div class="side_header_content">
        <p>Tom</p>
        <a>チャットを作成する</a>
      </div>
    </div>
    <div class="side_content">
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
      <p>techroom1</p>
    </div>
  </div>
</html>